USE [OpenAlexDB]
GO
/****** Object:  Table [dbo].[PaperAuthors]    Script Date: 4/4/2026 3:16:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperAuthors](
	[PaperIndex] [int] NOT NULL,
	[AuthorName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaperIndex] ASC,
	[AuthorName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaperReferences]    Script Date: 4/4/2026 3:16:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaperReferences](
	[PaperIndex] [int] NOT NULL,
	[Referenced_OpenAlex_ID] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaperIndex] ASC,
	[Referenced_OpenAlex_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Papers]    Script Date: 4/4/2026 3:16:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Papers](
	[PaperIndex] [int] IDENTITY(0,1) NOT NULL,
	[OpenAlex_ID] [varchar](50) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[PublicationYear] [int] NOT NULL,
	[Citations] [int] NULL,
	[DOI] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaperIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[PaperAuthors] ([PaperIndex], [AuthorName]) VALUES (0, N'Eleni Ilkou')
INSERT [dbo].[PaperAuthors] ([PaperIndex], [AuthorName]) VALUES (0, N'Maria Koutraki')
INSERT [dbo].[PaperAuthors] ([PaperIndex], [AuthorName]) VALUES (1, N'Cezary Kaliszyk')
GO
INSERT [dbo].[PaperReferences] ([PaperIndex], [Referenced_OpenAlex_ID]) VALUES (0, N'W1489142162')
INSERT [dbo].[PaperReferences] ([PaperIndex], [Referenced_OpenAlex_ID]) VALUES (0, N'W1538134818')
INSERT [dbo].[PaperReferences] ([PaperIndex], [Referenced_OpenAlex_ID]) VALUES (0, N'W1889372446')
GO
SET IDENTITY_INSERT [dbo].[Papers] ON 

INSERT [dbo].[Papers] ([PaperIndex], [OpenAlex_ID], [Title], [PublicationYear], [Citations], [DOI]) VALUES (0, N'W3094678513', N'Symbolic Vs Sub-symbolic AI Methods: Friends or Enemies?', 2020, 21, N'http://ceur-ws.org/Vol-2699/paper06.pdf')
INSERT [dbo].[Papers] ([PaperIndex], [OpenAlex_ID], [Title], [PublicationYear], [Citations], [DOI]) VALUES (1, N'W2584124986', N'Initial Experiments with Statistical Conjecturing over Large Formal Corpora.', 2016, 20, N'http://ceur-ws.org/Vol-1785/W23.pdf')
INSERT [dbo].[Papers] ([PaperIndex], [OpenAlex_ID], [Title], [PublicationYear], [Citations], [DOI]) VALUES (2, N'W2979276526', N'News Graph: An Enhanced Knowledge Graph for News Recommendation.', 2019, 19, N'http://ceur-ws.org/Vol-2601/kars2019_paper_01.pdf')
SET IDENTITY_INSERT [dbo].[Papers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Papers__B21336AE30FAED57]    Script Date: 4/4/2026 3:16:22 PM ******/
ALTER TABLE [dbo].[Papers] ADD UNIQUE NONCLUSTERED 
(
	[OpenAlex_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Papers] ADD  DEFAULT ((0)) FOR [Citations]
GO
ALTER TABLE [dbo].[PaperAuthors]  WITH CHECK ADD FOREIGN KEY([PaperIndex])
REFERENCES [dbo].[Papers] ([PaperIndex])
GO
ALTER TABLE [dbo].[PaperReferences]  WITH CHECK ADD FOREIGN KEY([PaperIndex])
REFERENCES [dbo].[Papers] ([PaperIndex])
GO
