torch
torch-geometric
pandas
scikit-learn
numpy
streamlit
faiss-cpu
pyodbc
requests
sentence-transformers
tabulate
tqdm
streamlit-agraph

# Optional but recommended for full PyG support/performance
pyg-lib
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
